$grey-color: #eee;
$black-color: black;
.product-section {
    display: flex;
    .m-select-nav {
        display: none;
    }
    .side-nav {
        flex: 0 0 20%;
        background-color: rgb(220, 216, 216);
        .nav-item {
            width: 100%;
            padding: 1em 0px;
            border: 0;
            border-bottom: 1px solid #ccc;
            font-size: 13px;
            &:focus {
                outline: none;
            }
            &.active,
            &:hover {
                outline: none;
                color: white;
                background-color: #d22a63;
                border: 0;
            }
        }
    }
    .product-list {
        flex: 0 0 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0 0 1rem;
        &__item {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0.25rem 3rem 0;
            border-bottom: 0.125rem dotted $grey-color;
            box-shadow: 1px 0 10px 0 $grey-color;
            width: calc((100% / 4) - 4px);
            &--title {
                width: 100%;
                color: $black-color;
                font-size: 0.95rem;
                height: 4.5rem;
                padding: 0.5rem 0 0 0.46rem;
            }
            &--image {
                width: 100%;
            }
            &--info {
                width: 100%;
                font-size: 0.7rem;
                font-weight: 700;
                background-color: $grey-color;
                height: 4.65rem;
                overflow: hidden;
                margin: 0.25rem;
                padding: 0.46rem;
                line-height: 1rem;
            }
            &--action {
                width: 100%;
                display: flex;
                justify-content: space-between;
                line-height: 2rem;
                margin: 1rem 0.25rem 0.5rem 0.25rem;
                span {
                    font-size: 0.7rem;
                    font-weight: 700;
                }
                button {
                    font-size: 0.7rem;
                    font-weight: 700;
                    margin: 0;
                }
            }
            .m-btn-buy,
            .s-btn-buy {
                display: none;
            }
            &.hidden {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 991px) {
        // width: 100%;
        .side-nav {
            flex: 0 0 23%;
        }
        .product-list {
            flex: 0 0 75%;
            &__item {
                width: calc((100% / 2) - 4px);
                &-description {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                &--image {
                    width: 45%;
                    height: 80%;
                }
                &--info {
                    width: 45%;
                    height: 80%;
                }
                .m-btn-buy {
                    width: 90%;
                    height: 2.5rem;
                    margin: 0.5rem 0 0 0;
                    display: block;
                }
                &--action,
                .s-btn-buy {
                    display: none;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        display: block;
        .m-select-nav {
            display: block;
            width: 100%;
            padding: 1em;
            border: 1px solid #eee;
            background-color: #d22a63;
            color: white;
        }
        .side-nav {
            display: none;
        }
        .product-list {
            flex: 1;
            margin: 2rem 1rem 0 1rem;
            &__item {
                width: calc((100%) - 4px);
                &-description {
                    justify-content: flex-end;
                    height: 9rem;
                }
                &--info {
                    width: 50%;
                    height: 4.65rem;
                }
                &--image {
                    width: 45%;
                    height: 100%;
                }
            }
            .m-btn-buy {
                width: 50%;
                margin: -3rem 0.25rem 0 0;
            }
        }
    }
}

.product-buy {
    display: flex;
    border: 1px solid #d22a63;
    background-color: #d22a63;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}