@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Dosis";
  color: #555;
  *:focus {
    outline: 2px solid lime;
    margin: 2px 0px;
  }
}

hr {
  margin: 0 auto;
  border: 0;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.09),
    rgba(0, 0, 0, 0)
  );
  &:last-of-type {
    height: 0px;
  }
}

.row {
  width: 80%;
  margin: auto;
  transition: width 0.4s ease-in-out;
  @media only screen and (max-width: 991px) {
    width: 100%;
    padding: 0 10px;
  }
}

a,
button {
  cursor: pointer;
}

.showCart {
  overflow: hidden;
}
